<!DOCTYPE html>
<html>
  <head>
    <title>CGTrader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="main">
      <h2>CGTrader</h2>
      <%= link_to "Home", root_path %>
      <%= link_to "New prompt", new_prompt_path %>
    </header>
    <div id="notices">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
    </div>
    <section class="main">
      <%= yield %>
    </section>
    <footer class="main">
      <p>
        <span>CGTrader</span>
        <span><%= link_to "Home", root_path %></span>
        <span><%= link_to "New prompt", new_prompt_path %></span>
      </p>
    </footer>
  </body>
</html>
