<div id="<%= dom_id prompt %>">

<label><%=t('forms.prompts.fields.original_index.label') %>:</label>
<h4><%=prompt.original_index%></h4>

<label><%=t('forms.prompts.fields.content.label') %>:</label>
<p><%=prompt.content%></p>
</div>
